#content{
	background-color: rgba(255,255,255,0.8);
	padding: 20px;
	float:right;
	border-style: outset;
	border-color: gray;
	border:5px;
}

#option{
	background-color: rgba(255,255,255,0.8);
	padding:39px;
	float:right ;
	border-style: outset;
	border-color: gray;
	border:5px;
}

