
/*This is for "photo" */

#top{
  float:right;
    width: 83%;
	background-color:black;
	color: white;
    padding: 10px;
}

#left{
    position: fixed;
    background-color:#f47985;
    float:left top;
    width: 15%;
    height: 100%;
    display:inline;
    transition:background-color 1s, color 1s;
}


#left:hover{
    background-color:#dc3023;
    color:white;
    transition:background-color 1s, color 1s;
}


#right {
    background-color: white;
    width: 80%;
    padding:30px;  
    float:right;
    display:inline;
}


#bottom{
    width: 95%;
    float:right;
    background:black;
    padding:30px; 
    color:white;
}

body {
    background-color: gray;
}

#music{
     position: absolute;
     float: right top;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
}
a:link,a:visited
{
display:block;
font-weight:bold;
color:black;
background-color:rgba(255,255,255,0);
width:120px;
padding:4px;
text-align: left;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
color:white;
transition:color 0.5s
}

.img{
  width: 480px;
}
