
/* This is for "contact" */

#top{
    float:right;
    width: 83%;
	background-color:black;
	color: white;
    padding: 10px;
}

#left{
    position: fixed;
    background-color:#9ed900;
    float:left top;
    width: 15%;
    height: 100%;
    display:inline;
    transition:background-color 1s, color 1s;
}


#left:hover{
    background-color:#00bc12;
    color:white;
    transition:background-color 1s, color 1s;
}


#right {
    background-color: white;
    width: 55%;
    padding-left:15%;
    padding-right: 15%;  
    float:right;
    display:inline;
    margin-left:20%;
}


#bottom{
    width: 80%;
    float:right;
    background:black;
    padding:30px; 
    color:white;
}

body {
    background-color: gray;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
}
a:link,a:visited
{
display:block;
font-weight:bold;
color:black;
background-color:rgba(255,255,255,0);
width:120px;
padding:4px;
text-align: left;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
color:white;
transition:color 0.5s
}
